<html>
  <body>
    <div id="app-4">
        <h1>{{header}}</h1>
        <h2>{{message}}</h2>
        <input v-model="header">
        <ol>
        <!-- Create an instance of the todo-item component -->
            <todo-item v-for="item in items" ></todo-item>
        </ol>
        <button v-on:click="funcion">Agregar mas label-input</button>
        <label-input v-bind:fields="fields"></label-input>
        <button v-on:click="guardar">Guardar valores</button>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // Define a new component called todo-item
        Vue.component('todo-item', {
            props : ['todo','name'],
            template: '<li> <input type="text"> </li>'
        });

        Vue.component('label-input',{
            props : ['fields'],
            template:'<div><div v-for="field in fields"><input type="text" v-model="field.litros"></div></div>',
        });

        var app4 = new Vue({
            el: '#app-4',
            data:{
                header:'hola',
                items:[
                    {name:'marcos1',post:'Hello1'},
                ],
                fields:[]
            },
            methods:{
                funcion:function (event){
                    this.fields.push({voltaje:'', litros:''})
                },
                guardar:function(event){
                    console.log('guardando')
                    console.log(this.fields)
                }
            },
            created:function(){
                alert('created')
            },
            computed:{
                message: function(){
                    return 'marcos 123';
                }
            },
            mounted:function(){
                self = this;
                axios.get("http://localhost:4000/getdata")
                    .then(function(response){
                        return response.data;
                    })
                    .then(function(data){
                        console.log(data)
                        self.fields = data;
                    })
            }
        });
        
    </script>
  </body>
</html>